.field-login {
    text-align: center;
    margin-top: 20px;
}
.label {
    text-align: center;
}

.links {
    text-align: center;
    margin-top: 30px;
}

.actions-login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
