/* Rottion for icons */

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.rotate270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.main-content, .page-up {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
 .page-up {
	background-image: url("cover1.jpg");
 }

  .page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  
  .page-down {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
  }
  
  .line {
    border-bottom: 3px solid white;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 50px;
    width: 100%;
  }
  
  .line strong {
    text-align: center;
    margin: 20px auto;
    font-size: 1.3rem;
    text-transform: uppercase;
	color: white;
  }

  .resort {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }

  .stars {
    align-self: center;
    font-size: 2rem;
    color: rgb(216, 101, 24);
  }
  .facilities {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .progress {
    height: 1.6rem;
    width: 100%;
    background-color: #c9c9c9;
    position: relative;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
  }
  
  .progress:before {
    color: white;
    content: attr(data-label);
    position: absolute;
    text-align: left;
    padding-left: 15px;
    top: 5px;
    left: 0;
    right: 0;
    font-size: 1rem;
    text-shadow: 0.5px 1px var(--main-shadow-color);
  }
  
  .progress .value {
    background-color: #807f7e;
    display: inline-block;
    height: 100%;
    border-radius: 20px;
  }

  .description {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-top: 3px solid orange;
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.description p {
	text-align: justify;
	font-size: 1.5rem;
	color: white;

}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 200px;
}

.price {
	font-size: 2rem;
  text-shadow: 0.5px 1px var(--main-shadow-color);
	font-weight: 600;
}

.host-details {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.details-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
    border-radius: 50%;
}
img {
    border-radius: 50%;
}

.details-item-text {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding-top: 2px;
	padding-left: 20px;
}

.details-item-text h3 {
	margin-top: 3px;
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin-top: 20px;
}

.buttons a {
	align-self: center;
	text-align: center;
}

.button-back {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.button-book {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	margin-top: 20px;
	width: 100%;
}

.button-back-resort {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.buttons a {
	text-decoration: none;
	color: white;
	font-style: italic;
  font-size: 1rem;
}

.button-back-resort a {
	color: orange;
}

.buttons img {
	margin-top: 10px;
    border-radius: 50%;
}

.displaynone {
	display: none;

}

/* Form */

input, select {
	width: 100%;
	padding-left: 10px;
	min-height: 30px;
	-webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
	font-size: 1rem;
}

input:focus, select:focus {
	border-radius: 5px;
	border: 3px solid #555;
}

textarea {
	padding: 10px 10px 10px 10px;
	min-height: 200px;
	min-width: 98%;
	max-width: 98%;
	border-width: 2px;
	-webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
	font-size: 1rem;
}

#attendees {
	width: 105%;
	border: 1px solid;
	outline: none;
	height: 35px;
}

textarea:focus {
	border-radius: 5px;
	border: 3px solid #555;
}

.main-content-form form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.form-control {
	border-radius: 20px;
	width: 100%;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
}

.form-group label {
	color: black;
	font-size: 1.5rem;
	text-shadow: 0.5px 1px var(--main-shadow-color);
	text-decoration: none;
	margin-bottom: 5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  max-width: 30em;
}

.form-group label {
  margin-bottom: 0.4rem;
}

.error {
  color: red;
}

button {
  background-color: #333;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
	margin-bottom: 20px;
}

button:hover {
	opacity: 0.7;
	cursor: pointer;
}

.hidden {
  display: none;
}

.success {
  color: green;
  margin: 1em 0;
  font-size: 1.2em;
}

#total-price {
	display: none;
}

.contact-us {
    margin-top: 50px;
    display: flex;
	flex-direction: column;
	width: 70%;
	text-align: center;
}
.contact-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

}
.contact-us h2 {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
}

.contact-us a {
    text-align: center;
	margin: 10px auto;
	font-size: 2rem;
	text-transform: uppercase;
    color:rgb(216, 101, 24);
}
.error {
	color: red;
  }

@media screen and (min-width: 780px) {
	.contact-us {
		margin-top: 50px;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	
	}
	.contact-us h2 {
		margin-top: 20px;
		text-align: center;
		margin: 20px auto;
		font-size: 2rem;
		text-transform: uppercase;
	}

	.host-details {
		flex-direction: row;
	}

	.details-item {
		align-items: center;
		justify-content: center;

	}
	
}
